@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h5>Click here to go to the <a asp-action="Index" asp-controller="Users">UserDirectory <i class="far fa-folder-open"></i></a> App</h5>
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>